<div class="modal">
  <div class="modal-message">
    <img src="assets/images/icon-order-confirmed.svg" alt="check icon" />
    <h2>Order Confirmed</h2>
    <p>We hope you enjoy your food</p>
  </div>
  <div class="modal-items">
    <ul>
      @for (item of orderedItems(); track item.item.name) {
        <li>
          <div>
            <img
              [src]="getImagePath(item.item.category)"
              [alt]="
                'assets/images/image-' +
                item.item.category.toLowerCase().split('-') +
                '-mobile.jpg'
              "
            />
            <div>
              <h3>{{ item.item.name }}</h3>
              <div>
                <span>{{ item.quantity }}x </span>
                <span>@ {{ item.item.price | currency: "USD" }}</span>
              </div>
            </div>
          </div>
          <p class="modal-items-price">
            {{ item.item.price | currency: "USD" }}
          </p>
        </li>
      }
    </ul>
    <div class="modal-order">
      <p>Order total</p>
      <p>{{ getTotal() | currency: "USD" }}</p>
    </div>
  </div>
  <button (click)="startNewOrder()">Start new order</button>
</div>
