.cart {
    background: white; 
    width: 100%;
    padding: 1rem 1.8rem 1.8rem 1.8rem;
    border-radius: 9px;
}
.cart h2 {
    font-size: 1.5rem; 
    align-self: start;
    margin-bottom: 1.8rem;
}
.cart > img {
    width: 40%;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}


/* order cart */


.cart-order > div  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 1rem 0;
}

.cart-order p {
   font-size: .9rem;
}

.cart-order div:last-of-type {
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    background: antiquewhite;
    margin: .7rem 0;
    border-radius: 6px;
    justify-content: space-evenly;
}

.cart-order button {
    width: 100%;
    padding: .8rem;
    margin: 1rem 0;
    border-radius: 30px;
    border: none;
    background: maroon;
    color: white;
    font-weight: 600;
}

.cart-order button:hover {
    cursor: pointer;
}
