.cart {
    background: white; 
    width: 100%;
    padding: 2.5rem;
    border-radius: 9px;
    display:flex; 
    flex-direction: column;
    align-items: center;
}
.cart h2 {
    font-size: 1.5rem; 
    align-self: start;
    margin-bottom: 2.5rem;
}
.cart img {
    width: 40%; 
    margin-bottom: 1rem; 
}