
:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    margin-bottom: 1.5rem;
}

main {
    width: 60%;

}
aside {
    max-width: 380px;
    margin-left: 2rem;
    min-width: 330px;
}