<div class="item">
  <div>
    <h4>{{ cartItem().item.name }}</h4>
    <span class="item-quantity">{{ cartItem().quantity }}x</span>
    <span class="item-price"
      >@ {{ cartItem().item.price | currency: "USD" }}</span
    >
    <span class="item-total-price">{{
      cartItem().item.price * cartItem().quantity | currency: "USD"
    }}</span>
  </div>
  <div>
    <img
      class="remove-icon"
      (click)="remove(cartItem())"
      [src]="removeIconImg"
      alt="Icon for removing an item"
    />
  </div>
</div>
