.product-image, .product-item {
    display: flex;
    flex-direction: column;
}
.product-item {
    align-items: start;
    min-height: 380px;;
    min-width: 250px;
    max-width: 300px;
    padding: .7rem;
}
.product-image {
    height: 60%; 
    width: 100%;
    align-items: center;
}
.product-image > img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
}

.product-quantity {
    color: #FFF;
}

.btn {
  border: 1px solid maroon;
  border-radius: 1.2rem;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 23px;
  background-color: white;
}

.isSelected {
    border: 2px solid maroon;
}
.selected-product {
    background-color: maroon; 
    display: flex; 
    justify-content: space-between;

}

.icon-cart {
    margin-right: 5px;
}
