.product-image, .product-item {
    display: flex;
    flex-direction: column;
}
.product-item {
    align-items: start;
    min-height: 260px;
    width: 230px;
    margin-bottom: 2rem;
}
.product-image {
    height: 60%; 
    width: 100%;
    align-items: center;
}
.product-image > img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
}

.product-quantity {
    color: #FFF;
}

.btn {
  border: 1px solid maroon;
  border-radius: 1.2rem;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 23px;
  background-color: white;
}

.isSelected {
    border: 2px solid maroon;
}
.selected-product {
    background-color: maroon; 
    display: flex; 
    justify-content: space-between;

}
img:hover {
    cursor: pointer;
}

.icon-cart {
    margin-right: 5px;
}



.product-description p:first-of-type {
    color: hsl(12, 20%, 44%);
    font-size: .9rem;
    font-weight: thin;
}

.product-description p:nth-child(2) {
    color:  hsl(14, 65%, 9%);
    font-weight: 700;
}
.product-description p:nth-child(3) {
    color: hsl(7, 20%, 60%);
    font-weight: 700;
}